body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#screensaver {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9998;
    margin: 0;
    padding: 0;
}

#screensaver video {
    height: 100vh;
    object-fit: cover;
}